/* flex container에 적용되는 스타일들 */

.flex-container {
    height: 700px;
    background-color: #ddd;

    display: flex;
    /* 
        flex-container에 지정 가능한 속성으로, 내부 item들이 자동으로 공백이
        사라지면서, content 영역 만큼의 크기를 가진 채로 중심축 기준 정렬이 된다.
    */

    /* flex-direction 
        - flrex-container 전용속성
        - 중심축의 방향과 시작 위치를 지정하는 속성
    */

    /* 행방향(reverse) */
    flex-direction: row-reverse;

    /* 열방향 */
    flex-direction: column;

    /* 열방향(reverse) */
    flex-direction: column-reverse;

    /* 행방향(기본값) */
    flex-direction: row;

    /* flex-wrap */
    /*  
        내부 item들을 "포장"하는 속성
        item들이 강제로 한 줄에 배치되게 할 것인지, 한 줄을 벗어나 여러줄로 배치되게
        할 것인지를 지정
    */
    flex-wrap: nowrap;
    /* 기본값(한줄배치) */

    flex-wrap: wrap;

    flex-wrap: wrap-reverse;
    /* 요소를 여러 줄로 배치 + 뒤에서부터 배치를 시작 */

    /* flex-flow
        - flex-container의 중심축의 방향, 순서와 여러 줄로 배치 할지에 대한 여부를
        한 번에 설정하는 속성
        - flex-direction과 flex-wrap을 합친 속성이다.
    */

    flex-flow: row-reverse wrap;
    flex-flow: row nowrap;
    /* 기 본 값 */

    /* 
        justify-content
         - 내용을 조정하다
         - 중심축 방향으로 item의 정렬 방법을 조정하는 속성
    */

    justify-content: flex-start;
    /* 중심축의 시작지점을 기준 정렬(기본값) */

    justify-content: flex-end;
    /* 중심축의 끝지점을 기준 정렬 */

    justify-content: center;
    /* 중심축의 가운데 기준 정렬 */


    /* item 주위에 중심축방향 앞쪽으로 일정한 간격을 두고 정렬 */
    justify-content: space-around;

    /* item 주위 중심축방향 앞쪽으로 동일한 간격을 두고 정렬 */
    justify-content: space-evenly;

    /* item 주위 중심축방향 앞쪽으로 일정한 간격을 두고 정렬하지만, 양쪽 끝은 벽에 붙이기 */
    justify-content: space-between;


    /* 
        align-items
         - item들을 교차축 방향으로 정렬하는 방법을 지정하는 속성

    */

    align-items: stretch;

    /* 교차축 기준 시작지점을 기준으로 정렬 */
    align-items: flex-start;

    align-items: flex-end;

    align-items: center;

    /*  item 내부 content 요소가 모두 한 줄에 배치될 수 있도록 */
    align-items: baseline;


}


.item2 {
    padding: 10px;
}

.item3 {
    padding: 20px;
}

.item4 {
    padding: 30px
}

#con {
    width: 450px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#center {
    width: 80px;
    height: 80px;
    background-color: pink;

    
}