img {
    width: 250px;
    height: auto;
}

/* transform: 변형과 관련된 속성 */
.trans-x-2d:hover {
    transform: translateX(100px);
}

.trans-y-2d:hover {
    transform: translateY(-100px);
}

.trans-d-2d:hover {
    transform: translate(100px, 100px);

}

.trans-x-scale:hover {
    transform: scaleX(3);

}


.trans-y-scale:hover {
    transform: scaleY(3);

}

.trans-d-scale:hover {
    transform: scale(3, 3);

}

.trans-rotate:hover {
    transform: rotate(180deg);
    transition: 1000ms;

}


.trans-3d:hover {
    /* perspective(z축의 길이) :원근법 적용 */

    transform: perspective(30px) translate3d(30px, 30px, 30px);

}


.trans-rotate-x-3d:hover {
    /* perspective(z축의 길이) :원근법 적용 */

    transform: perspective(300px) rotateX(45deg);

}


.trans-rotate-y-3d:hover {
    /* perspective(y축의 길이) :원근법 적용 */

    transform: perspective(300px) rotateY(-45deg);

}


.trans-rotate-z-3d:hover {
    /* perspective(z축의 길이) :원근법 적용 */

    transform: perspective(300px) rotateZ(45deg);

}



.trans-rotate-3d:hover {
    /* perspective(xyz축의 길이) :원근법 적용 */

    transform: perspective(30px) rotate3d(0.5, 0.5, 0.5, 45deg);

}


/* transition */
.box {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    background-color: greenyellow;

    /* 스타일이 변경되는 시간을 지정한다. */
    transition-duration: 1s;
}

.test1:hover {
    background-color: yellow;

}


.test2:hover {
    transform: rotate(360deg);
    background-color: aqua;
    border-radius: 50%;

}


.test3:hover {
    /* 변경에 걸리는 시간 */
    transition-duration: 3s;
    
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);


   
}

.test3:hover{
    background-color: springgreen;
}

.test4{
    transition-delay: 1333ms;
    transition-property: background-color, transfom;
  

}
.test4:hover{
    font-size: 50px;
    transform: translateX(10px);
    background-color: antiquewhite;

}