/* 1.  속성 선택자 */

/* 모든 div태그들 중 name 속성값이 name1과 "일치"하는 요소 */
div[name=name1] {
    background-color: orangered;
}



/* 
    선택자[속성~=속성값] : 속성의 포함여부
    div태그 중 name 속성값에 name1이 포함되어있는 요소 선택하기

 */

div[name~=name1] {
    background-color: yellow;
}

/* 
    선택자[속성|속성값] : 속성의 시작을 검사(-앞에 한 단어 기준 전부 일치)
    div중 class 속성값이 div로 시작되는 요소 선택   
 */

div[class|=div] {
    background-color: cyan;

}

/* 선택자[속성^=속성값] : 속성의 시작값을 검사 
    div중 name 속성의 값이 na로 "시작" 되는 요소를 선택(포함만 되면 ㅇㅋ)
 */

div[name^=na] {
    background-color: skyblue;
}

/* 선택자[속성$=속성값]: 속성값이 뭘로 "끝"나는지 검사
    div 태그들 중 class 속성값이 ss로 끝나는 요소 선택
 */

div[class$=ss] {
    color: white;
}

/* 선택자[속성*=속성값]:
    div중 class 속성값에 i가 "포함"되어 있는 요소 선택
 */

div[class*=i] {
    background-color: yellow;
    color: red;
}


/* class 속성값이 div-class인 애들 중 name 속성값에 name3가 포함된 요소 선택 후 스타일 부여 자유 */

.div-class[name~=name3] {
    background-color: white;
}

/* 2. 자손 & 후손 선택자 
    a > b : a요소의 자손들 중 b요소들 선택
    
 */

#test1>h4 {
    background-color: bisque;
}

#test1>ul>li {
    color: blueviolet;
}


/*
     a b : a요소의 후손들 중 b요소만 선택
*/
#test1 li {
    background-color: gray;
}


/* 3. 동위선택자 */
/* a+b : a 요소 뒤의 b요소 하나만을 선택 */
#test2+div{
    background-color: yellow;
}

/* a~b : a요소 뒤에 모든 b요소 다 선택 */
#test2~div{
    /* background-color: green; */
}

#test2~ul{
    background-color: brown;
}

/* 4. 반응선택자 */
.area{
    background-color: yellowgreen;
    width: 100px;
    height: 100px;
    cursor: pointer;
}


#active-test:active{
    background-color: yellow;
    color: rebeccapurple;
}

#hover-test:hover{
    background-color: maroon;
    color: white;
}


/* 5. 상태 선택자 */
input[type=checkbox]:checked{ 
    /* 선택된 체크박스 크기가 커짐 */
    width: 20px;
    height: 20px;
}
input[type=checkbox]:checked+label{
    /* 체크박스뿐만 아니라 뒤에 따라오는 label도 커짐 */
    font-size: 20px;
}




input:focus{
    background-color: pink;
}


