#test1 >p:only-child{
    background-color: steelblue;
}

#test2 >pre:only-of-type{
    background-color: goldenrod;
}


/* :empty */
#test3 > p:empty{
    height: 30px;
    background-color: lime;
}

/* 여러 선택자 동시 선택 */

#test4-1,#test4-2, .test4-3{
    background-color: yellow;
}


/* 특정 요소 내부에 있는 특정 클래스 선택하기 */

#test5-1 li.c5{
    background-color: aqua;

}

/* 여러 클래스 가진 요소 선택 */
.c6.test6{
    background-color: red;
}