/* 1순위 : !important */

/* 2순위: 인라인 스타일 속성 */
/* 요소에 직접 작성됨 */


/* 3순위 : 아이디 선택자 */
#test1 {
    height: 100px;
}



/* 4순위 : 클래스 선택자 */
.cls1{
    background-color: green;
}



/* 5순위 : 태그 선택자 */
div{
    width: 200px;
    height: 200px;
    background-color: yellow !important; /*1순위*/
}